In [28]:
import ast
import astor
import pandas as pd

In [29]:
import os

path ='D:\Testing'

for root, directories, files in os.walk(path, topdown=False):
    for name in files:
        print(os.path.join(root, name))

In [22]:

class recursiveFunc():
    def recursiveMethodCheck(node,  premethod, methodClass):
        if hasattr(node, 'value'):
            
            premethod , methodClass = recursiveFunc.recursiveMethodCheck(node.value, premethod, methodClass)
            premethod =  premethod + ","  +  node.attr
            
            return premethod, methodClass
        else:
            premethod =  node.id
            methodClass = node.id
            return premethod, methodClass

class astvisitor(ast.NodeVisitor):
    
    def visit_Import(self,node):
        df1 = pd.DataFrame()
        for ip in node.body:
            if isinstance(ip,ast.ImportFrom):
                
                print("Imports!!")
                import_from = ip.module
                print(astor.dump_tree(ip.module))
                print("Imports_alias!!")
#                 print(astor.dump_tree(ip.names[0].name))
                
                length = (len(ip.names))
        
                for y in range(0, length):
                
                    import_statement = ""
                    print(ip.names[y].name)
                    import_statement =  ip.names[y].name
                    
                    asType = ""
                    
                    if hasattr(ip.names[y], 'asname')  and ip.names[y].asname is not None:
                        asType = ip.names[y].asname
                    
                    data = []
                    df2 = {
                            "file_name": file_name,
                            "import_statement": import_statement,
                            "as": asType,
                            "import_from": import_from
                        }
                    data.append(df2)
                
                    df1 = df1.append(data, True)
                        
#                     if(y != length-1):
#                         str1 += ", "
                            
                print(data)
            elif isinstance(ip,ast.Import):
#                 print(astor.dump_tree(ip.names[0].name))
                
                length = (len(ip.names))
                str1 = ""
                for y in range(0, length):
                    import_statement = ""
                    print(ip.names[y].name)
                    import_statement =  ip.names[y].name
                    print(astor.dump_tree(ip.names[y]))
                    
                    asType = ""
                    
                    if hasattr(ip.names[y], 'asname')  and ip.names[y].asname is not None:
                        asType = ip.names[y].asname
                    
                    data = []
                    df2 = {
                            "file_name": file_name,
                            "import_statement": import_statement,
                            "as": asType,
                            "import_from": ""
                        }
                    data.append(df2)
                
                    df1 = df1.append(data, True)
                    
#                     if(y != length-1):
#                         str1 += ", "
                print(str1)
        return df1  
    
    def visit_MethodDef(self,node):
        df1 = pd.DataFrame()
        for x in node.body:
            if isinstance(x,ast.ClassDef):
                class_name = x.name
                
                for z in x.body:
                    if isinstance(z,ast.FunctionDef):
                        methodName= z.name
#                         print("method name : " + methodName)
                        length = (len(z.args.args))
                        str1 = ""
                        for y in range(0, length):
                    
                            str1 +=  astor.dump_tree(z.args.args[y].arg)
#                             print("param : " +  z.args.args[y].arg)
#                             print("type : ")
#                             print(type(z.args.args[y].arg))
                            if z.args.args[y].annotation is not None:
                                str1 +=  " : " +z.args.args[y].annotation.id
                    
                    
                            if(y != length-1):
                                str1 += ", "
                                
#                             if hasattr(z.value.args[y],'value'):
#                                 print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
#                                 print(astor.dump_tree(z.value.args[y].value))
#                                 print(astor.dump_tree(type(z.value.args[y].value)))
                    
                
                
                        data = []
                        File_Name_without_extension = file_name.split('\\')[-1].split('.')[0]
                        df2 = {"M_D_Name":methodName,
                                "M_D_Arg":str1,
                                "File_Name": file_name,
                               "Class_name": class_name,
                               "M_D_Arg_len" : len(str1.split(",")),
                                "File_Name_without_extension": File_Name_without_extension
                               
                            }
#                         print("////////////////////////////////")
#                         print(str1)
                        data.append(df2)

                        df1 = df1.append(data, True)
            
            if isinstance(x,ast.FunctionDef):
                methodName= x.name
                
                length = (len(x.args.args))
                
                str1 = ""
                
                for y in range(0, length):
#                     print("param : " +  x.args.args[y].arg)
#                     print("type : ")
#                     print(type(x.args.args[y].arg))
                    str1 +=  astor.dump_tree(x.args.args[y].arg)
                    if x.args.args[y].annotation is not None:
                        str1 +=  " : " +x.args.args[y].annotation.id
                    
                    
                    if(y != length-1):
                        str1 += ", "
#                     if hasattr(x.value.args[y],'value'):
#                         print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
#                         print(astor.dump_tree(x.value.args[y].value))
#                         print(astor.dump_tree(type(x.value.args[y].value)))
                    
                data = []
        
                File_Name_without_extension = file_name.split('\\')[-1].split('.')[0]
                df2 = {"M_D_Name":methodName,
                        "M_D_Arg":str1,
                        "File_Name": file_name,
                       "Class_name": "",
                       "M_D_Arg_len" : len(str1.split(",")),
                        "File_Name_without_extension": File_Name_without_extension
                    }
#                 print("////////////////////////////////")
#                 print(str1)
                data.append(df2)
                df1 = df1.append(data, True)
        
        return  df1
    
    
    def visit_MultipleFunctionCall(self,node):
        df1 = pd.DataFrame()
        arg_swap=[]
        for x in node.body:
            if isinstance(x,ast.Expr):
                if hasattr(x.value, 'func'):
                    length = (len(x.value.args))
                    str1 = ""
                    
                    for y in range(0, length):
                        print("Type of argument")
                        print(astor.dump_tree(x.value))
                        if hasattr(x.value.args[y],'id'):
                            print(type(x.value.args[y].id))

                            str1 +=  x.value.args[y].id
                            str1 += " ; "+ str(type(x.value.args[y].id))
                            arg_swap.append(str1)

                            
                        if hasattr(x.value.args[y],'value'):
                            print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
                            print("value here we can see")
                            
                            print(astor.dump_tree(x.value.args[y]))
                            str1 +=  str(x.value.args[y].value)
                            str1 +=  " ; " + str(type(x.value.args[y].value))
                            arg_swap.append(str1)
                            
                            
                        if hasattr(x.value.args[y],'elts'):
                                print("i have List")
                                print(astor.dump_tree(x.value))
                                
                                str1 += "List_value" " ; " + "List"
                                arg_swap.append(str1)
                            
                                      
                                            
                        if(y != length-1):
                            str1 += ", "
                        
                        print("???????????????????")
                        print("New_arg_list")
                        print(len(arg_swap)-1)
                        yp=arg_swap[len(arg_swap)-1].split(",")
                        print(yp)
                        yp.reverse()
                        listToStr = ' '.join(map(str, yp))
                        print(listToStr)
#                         nms=yp.split(",")

                        print("???????????????????")
#                         if hasattr(x.value.args[y],'value'):
#                             print(type(x.value.args[y].value))

#                             str1 +=  x.value.args[y].value
#                             str1 += " ; "+ str(type(x.value.args[y].value))

#                             if(y != length-1):
#                                 str1 += ", "
                            
                    Arg_list = str1
                    lastmethod = ""
                    methodClass = ""
                    
                    print("Arg.................")
                    print(Arg_list)
                    if hasattr(x.value.func, 'value'):
                        print("...........................................")
                        if hasattr(x.value.func.value, 'func'):
                            
                            premethod = x.value.func.value.func.id +" , " + x.value.func.attr
                            methodClass = x.value.func.value.func.id 
#                             print(premethod)
                        else:
                            premethod = ""
                            premethod, methodClass = recursiveFunc.recursiveMethodCheck(x.value.func.value, premethod, methodClass)
                            premethod = premethod +"," + x.value.func.attr
                    
                            
#                             print(premethod)
                        data = []
                        lastmethod = x.value.func.attr
#                         df2 = {"M_D_Name":premethod,
#                                 "M_D_Arg":Arg_list,
#                                 "File_Name": file_name
#                             }
                        df2 = {"M_Call_Name":premethod,
                                "M_Call_Arg":Arg_list,
                                "Receiver_var": "",
                                "File_Name": file_name,
                                "MethodName": lastmethod,
                               "M_Call_Arg_len" : len(Arg_list.split(",")), 
                                "MethodClass" : methodClass,
                                "Swap_arg_listing":listToStr
                            }
#                         print("////////////////////////////////")
#                         print(Arg_list)
                        data.append(df2)
                        df1 = df1.append(data, True)
        return  df1
    
 
    def visit_MethodCall(self,node):
        df1 = pd.DataFrame()
        arg_swap=[]
#         print("...........................")
#         print(astor.dump_tree(node))
        for p in node.body:
            if isinstance(p,ast.Expr):
                if hasattr(p.value, 'func'):
                    if hasattr(p.value.func,'id'): 
                        method_call = p.value.func.id

                        print(method_call)
                        length = (len(p.value.args))
                        str1 = ""
                        for y in range(0, length):
                            print(astor.dump_tree(p.value.args[y]))
    #                         print("param : " +  p.value.args[y].id)
    #                         print("type : ")
    #                         print(type(p.value.args[y].id))
                            print("prblmmmmm")
                            if hasattr(p.value.args[y],'id'):
                                str1 +=  p.value.args[y].id
                                str1 += " ; "+ str(type(p.value.args[y].id))
                                arg_swap.append(str1)

    #                             if hasattr(p.value.args[y],'value'):
    #                                 print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
    #                                 print(astor.dump_tree(p.value.args[y].value))
    #                                 print(astor.dump_tree(type(p.value.args[y].value)))
                            if hasattr(p.value.args[y],'value'):
                                print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
                                str1 +=  str(p.value.args[y].value)
                                str1 +=  " ; " + str(type(p.value.args[y].value))
                                arg_swap.append(str1)
                            if hasattr(p.value.args[y],'elts'):
                                print("i have List")
                                print(astor.dump_tree(p.value))

                                str1 += "List_value" " ; " + "List"
                                arg_swap.append(str1)
                            if hasattr(p.value.args[y],'elts'):
                                print("i have List")
                                print(astor.dump_tree(p.value))
                                arg_swap.append(str1)
                            if(y != length-1):
                                str1 += ", "
                            print("???????????????????")
                            print("New_arg_list")
                            if [len(arg_swap)-1]!= -1:
                                print(len(arg_swap)-1)
                                yp=arg_swap[len(arg_swap)-1].split(",")
                                print(yp)
                                yp.reverse()
                                listToStr = ' '.join(map(str, yp))
                                print(listToStr)
        #                         nms=yp.split(",")

                                print("???????????????????")
                            Arg_list = str1
    #                         premethod = ""
    #                         if hasattr(p.value.func, 'value'):
    #                             print("...........................................")
    #                             if hasattr(p.value.func.value, 'func'):

    #                                 premethod = p.value.func.value.func.id +" , " + p.value.func.attr
    #                                 print("....................................."+premethod)
    #                             else:
    #                                 premethod = ""
    #                                 premethod = recursiveFunc.recursiveMethodCheck(p.value.func.value, premethod)
    #                                 premethod = premethod +" , " + p.value.func.attr
    #                                 print("................................."+premethod)

                            data = []
                            print("Someothing")
                            df2 = {"M_Call_Name":method_call,
                                    "M_Call_Arg":Arg_list,
                                    "Receiver_var": "",
                                    "File_Name": file_name,
                                    "MethodName": method_call,
                                   "M_Call_Arg_len" : len(Arg_list.split(",")),
                                   "Swap_arg_listing":listToStr
                                }
    #                         print("////////////////////////////////")
    #                         print(Arg_list)
                            data.append(df2)

                            df1 = df1.append(data, True)
            
            if isinstance(p,ast.Assign):
                if hasattr(p.value, 'func'):
                    receive_var = p.targets[0].id
                    if hasattr(p.value.func,'id'):  
                        method_call = p.value.func.id

                        length = (len(p.value.args))

                        str1 = ""
                        for y in range(0, length):
    #                         print(p.value.args[y].id)
    #                         print("param : " +  p.value.args[y].id)
    #                         print("type : ")
    #                         print(type(p.value.args[y].id))
                            print("probleM")
                            if hasattr(p.value.args[y],'id'):


                                str1 +=  p.value.args[y].id
                                str1 += " ; "+ str(type(p.value.args[y].id))
                                arg_swap.append(str1)
                            if hasattr(p.value.args[y],'value'):
                                print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
                                str1 +=  str(p.value.args[y].value)
                                str1 +=  " ; " + str(type(p.value.args[y].value))
                                arg_swap.append(str1)
                            if hasattr(p.value.args[y],'elts'):
                                print("i have List")
                                print(astor.dump_tree(p.value))

                                str1 += "List_value" " ; " + "List"
                                arg_swap.append(str1)
                            if hasattr(p.value.args[y],'elts'):
                                print("i have List")
                                print(astor.dump_tree(p.value))
                                arg_swap.append(str1)
                            if(y != length-1):
                                str1 += ", "
                            print("???????????????????")
                            print("New_arg_list")
                            print(str1)
                            print(arg_swap)

                            yp=arg_swap[len(arg_swap)-1].split(",")
                            print(yp)
                            yp.reverse()
                            listToStr = ' '.join(map(str, yp))
                            print(listToStr)
    #                         if hasattr(p.value.args[y],'value'):
    #                             print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
    #                             print(astor.dump_tree(p.value.args[y].value))
    #                             print(astor.dump_tree(type(p.value.args[y].value)))
                        Arg_list = str1
    #                     premethod = ""
    #                     if hasattr(p.value.func, 'value'):
    #                         print("...........................................gfchchcgh")
    #                         if hasattr(p.value.func.value, 'func'):

    #                             premethod = p.value.func.value.func.id +" , " + p.value.func.attr
    #                             print(premethod)
    #                         else:
    #                             premethod = ""
    #                             premethod = recursiveFunc.recursiveMethodCheck(p.value.func.value, premethod)
    #                             premethod = premethod +" , " + p.value.func.attr
    #                             print("..............................................."+premethod)

                        data = []
                        print("nothing")
                        df2 = {"M_Call_Name":method_call,
                                "M_Call_Arg":Arg_list,
                                "Receiver_var": receive_var,
                                "File_Name": file_name,
                                "MethodName": method_call,
                               "M_Call_Arg_len" : len(Arg_list.split(",")),
                               "Swap_arg_listing":listToStr
                               
                            }
    #                     print("////////////////////////////////")
    #                     print(Arg_list)


                        data.append(df2)

                        df1 = df1.append(data, True)
        return df1
    
    def visit_method_call_in_ClassDef(self,node):
        df1 = pd.DataFrame()
        arg_swap=[]
        for cls in node.body:
                
            if isinstance(cls,ast.ClassDef):
#                 print(astor.dump_tree(cls))
#                 print("::::::::::::Class_assign:::::::::::")
#                 print(astor.dump_tree(cls.name))
                class_name = cls.name
                
                for p in cls.body:
                    if isinstance(p,ast.Expr):
                        if hasattr(p.value, 'func'):
                            if hasattr(p.value.func, 'id'):
                                method_call = p.value.func.id
                                length = (len(p.value.args))
                                str1 = ""
                                for y in range(0, length):
                                    print(astor.dump_tree(p.value))
                                    if hasattr(p.value.args[y],'id'):
        #                                 print("param : " +  p.value.args[y].id)
        #                                 print("type : ")
        #                                 print(type(p.value.args[y].id))
                                        print("here")
                                        str1 +=  p.value.args[y].id
                                        str1 += " ; "+ str(type(p.value.args[y].id))
                                        print("???????????????????")
                                        print("???????????????????")
                                        print(str1)
                                        arg_swap.append(str1)
                                    if hasattr(p.value.args[y],'value'):
                                        print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
                                        str1 +=  str(p.value.args[y].value)
                                        str1 +=  " ; " + str(type(p.value.args[y].value))
                                        print("???????????????????")
                                        print("???????????????????")
                                        print(str1)
                                        arg_swap.append(str1)
                                    if hasattr(p.value.args[y],'elts'):
                                        print("i have List")
                                        print(astor.dump_tree(p.value))
                                        print(astor.dump_tree(p.value))
                                        print("???????????????????")
                                        print("???????????????????")
                                        print(str1)

                                        str1 += "List_value"+ " ; " + "List"
                                        arg_swap.append(str1)
                                    if(y != length-1):
                                        str1 += ", "
                                    print("???????????????????")
                                    print("New_arg_list")
                                    print("SG")
                                    yp=arg_swap[len(arg_swap)-1].split(",")
                                    print(yp)
                                    yp.reverse()
                                    listToStr = ' '.join(map(str, yp))
                                    print(listToStr)
                                        
                                Arg_list = str1
    #                             print("//////////////////////////////////////////")
    #                             print(Arg_list)

                                data = []
                                df2 = {"M_Call_Name":method_call,
                                        "M_Call_Arg":Arg_list,
                                        "Receiver_var": "",
                                        "File_Name": file_name,
                                        "MethodName": method_call,
                                       "M_Call_Arg_len" : len(Arg_list.split(",")),
                                       "Swap_arg_listing":listToStr
                                    }
#                                 print("////////////////////////////////")
                                #print(Arg_list)
                                data.append(df2)

                                df1 = df1.append(data, True)
            
                    elif isinstance(p,ast.Assign):
                        if hasattr(p.value, 'func'):
#                             print("//start")
#                             print(p.targets[0].id)
                            
                            receive_var = p.targets[0].id
                            if hasattr(p.value.func,'id'):    
                                method_call = (p.value.func.id)

#                             print("value")

                                length = (len(p.value.args))

                                str1 = ""
                                for y in range(0, length):
    #                                 print("param : " +  p.value.args[y].id)
    #                                 print("type : ")
    #                                 print(type(p.value.args[y].id))
                                    
                                    if hasattr(p.value.args[y],'id'):
                                        print(p.value.args[y].id)
                                        str1 +=  p.value.args[y].id
                                        str1 += " ; "+ str(type(p.value.args[y].id))
                                    if hasattr(p.value.args[y],'func'):
                                        print("Finally FOuind")
                                        print(astor.dump_tree(p.value.args[y]))
                                        
                                    print("herereeee")
                                    if hasattr(p.value.args[y],'value'):
                                        print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
                                        str1 +=  str(p.value.args[y].value)
                                        str1 +=  " ;" + str(type(p.value.args[y].value))
                                        arg_swap.append(str1)
                                    if hasattr(p.value.args[y],'elts'):
                                        print("i have List")
                                        print(astor.dump_tree(p.value))

                                        str1 += "List_value" " ; " + "List"
                                        arg_swap.append(str1)
                                    
                                    if(y != length-1):
                                        str1 += ", "
                                    print("???????????????????")
                                    print("ggg")
                                    print(len(arg_swap))
                                    if len(arg_swap)!=0:
                                        yp=arg_swap[len(arg_swap)-1].split(",")
                                        print(yp)
                                        yp.reverse()
                                        listToStr = ' '.join(map(str, yp))
                                        print(listToStr)
                                    else:
                                        listToStr= str1
    #                                 if hasattr(p.value.args[y],'value'):
    #                                     print("...........,,,,,,,,,,,,,,,,,,,,,.....................................................")
    #                                     print(astor.dump_tree(p.value.args[y].value))
    #                                     print(astor.dump_tree(type(p.value.args[y].value)))
                                Arg_list = str1

                                data = []
                                df2 = {"M_Call_Name":method_call,
                                        "M_Call_Arg":Arg_list,
                                        "Receiver_var": receive_var,
                                        "File_Name": file_name,
                                        "MethodName": method_call,
                                        "M_Call_Arg_len" : len(Arg_list.split(",")),
                                       "Swap_arg_listing":listToStr
                                    }
    #                             print("////////////////////////////////")
                                #print(Arg_list)
                                data.append(df2)

                                df1 = df1.append(data, True)
        return df1

In [23]:
file_name = ''

# with open('test1.py') as f:
#         code=f.read()
# node=ast.parse(code)

df_method_def_all = pd.DataFrame()
df_method_call_all = pd.DataFrame()
 
df_import_all = pd.DataFrame()

flag = 0 
for root, directories, files in os.walk(path, topdown=False):
    for name in files:
        try:
            file_path =  (os.path.join(root, name))
    #         print(".........................................."+file_path)
            file_name = file_path
            with open(file_path) as f:
                code=f.read()
            node=ast.parse(code)

            df_method_def = astvisitor().visit_MethodDef(node)
            df_method_call = astvisitor().visit_MethodCall(node)

            df_method_call_multiple = astvisitor().visit_MultipleFunctionCall(node)


            df_method_call_in_ClassDef = astvisitor().visit_method_call_in_ClassDef(node)

            df_import = astvisitor().visit_Import(node)

            print ("*********************************************")
            print (df_method_def)
            print (df_method_call_in_ClassDef)
            print (df_method_call_multiple)
            print (df_method_call)

            if flag == 0:
                df_methodCall_all = df_method_call_in_ClassDef.append(df_method_call, True)
                df_methodCall_all = df_methodCall_all.append(df_method_call_multiple, True)
                df_method_def_all = df_method_def
                df_import_all = df_import
                flag = 1
                print("flag  = 0")

            else:
                df_methodCall_all = df_methodCall_all.append(df_method_call, True)
                df_methodCall_all = df_methodCall_all.append(df_method_call_in_ClassDef, True)
                df_methodCall_all = df_methodCall_all.append(df_method_call_multiple, True)
                df_method_def_all = df_method_def_all.append(df_method_def, True)

                df_import_all = df_import_all.append(df_import, True)

                print("flag  = 1")
        except:
            print("Can not parse the file "+ file_name)

In [24]:
df_method_def_all

Empty DataFrame
Columns: []
Index: []

In [25]:
df_methodCall_all

NameError: name 'df_methodCall_all' is not defined

In [10]:
df_import_all

Empty DataFrame
Columns: []
Index: []

df_methodCall_all['M_Call_Name'].str.split(',')

In [11]:
df_methodCall_all_with_method_def=pd.merge(
    df_methodCall_all,
    df_method_def_all,
    how='left',
    left_on=('MethodName'),right_on=('M_D_Name')).reset_index()

NameError: name 'df_methodCall_all' is not defined

In [12]:
df_methodCall_all_with_method_def

NameError: name 'df_methodCall_all_with_method_def' is not defined

In [13]:
TOTAL_NUMBER = df_methodCall_all_with_method_def.shape[0]

NameError: name 'df_methodCall_all_with_method_def' is not defined

In [14]:
df_methodCall_all_with_method_def = df_methodCall_all_with_method_def[df_methodCall_all_with_method_def['M_D_Name'].notna()]

NameError: name 'df_methodCall_all_with_method_def' is not defined

In [12]:
Method_Call = df_methodCall_all_with_method_def.shape[0]

In [13]:
remove_row = TOTAL_NUMBER - Method_Call

In [14]:
df_methodCall_all_with_method_def = df_methodCall_all_with_method_def[df_methodCall_all_with_method_def['M_Call_Arg_len'] == df_methodCall_all_with_method_def['M_D_Arg_len']]

In [15]:
df_import_all

,file_name,import_statement,as,import_from
0,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...
29837,D:\Testing\settle.py,post_id_sim1,,search
29838,D:\Testing\settle.py,longi,,class9
29839,D:\Testing\timestamp.py,tzinfo,,datetime
29840,D:\Testing\timestamp.py,timedelta,,datetime
29841,D:\Testing\timestamp.py,datetime,,datetime

In [16]:
df_methodCall_all_with_method_def

,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension
0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
16,16,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
17,17,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_many_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
18,18,collapse_spaces,\n SELECT 1 FROM {table}\n WHERE...,_has_key_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n SELECT 1 FROM {table}\n WHERE...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
19,19,collapse_spaces,\n UPDATE {table}\n SET value = ...,_delta_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n UPDATE {table}\n SET value = ...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55877,55877,"find_ip,disk,search","150 ; <class 'int'>, List_value ; List",,D:\Testing\search.py,search,2,List_value ; List 150 ; <class 'int'>,find_ip,search,"'port_add', 'post_add'",D:\Testing\class9.py,find_ip,2.0,class9
55880,55880,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\New folder\class9.py,find_ip,2.0,class9
55881,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9
55882,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle
55883,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle

In [17]:
def_local=df_methodCall_all_with_method_def

df_methodCall_all_with_method_def = df_methodCall_all_with_method_def[df_methodCall_all_with_method_def['MethodClass'] == df_methodCall_all_with_method_def['Class_name']]

In [18]:
df_methodCall_all_with_method_def

,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension
0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
16,16,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
17,17,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_many_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
18,18,collapse_spaces,\n SELECT 1 FROM {table}\n WHERE...,_has_key_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n SELECT 1 FROM {table}\n WHERE...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
19,19,collapse_spaces,\n UPDATE {table}\n SET value = ...,_delta_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n UPDATE {table}\n SET value = ...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55877,55877,"find_ip,disk,search","150 ; <class 'int'>, List_value ; List",,D:\Testing\search.py,search,2,List_value ; List 150 ; <class 'int'>,find_ip,search,"'port_add', 'post_add'",D:\Testing\class9.py,find_ip,2.0,class9
55880,55880,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\New folder\class9.py,find_ip,2.0,class9
55881,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9
55882,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle
55883,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle

In [19]:
df_import_all

,file_name,import_statement,as,import_from
0,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...
29837,D:\Testing\settle.py,post_id_sim1,,search
29838,D:\Testing\settle.py,longi,,class9
29839,D:\Testing\timestamp.py,tzinfo,,datetime
29840,D:\Testing\timestamp.py,timedelta,,datetime
29841,D:\Testing\timestamp.py,datetime,,datetime

In [20]:
test = "D:/search\class9.py"
test.split('\\')[-1].split('.')[0]

'class9'

In [21]:
df_methodCall_all_with_method_def=pd.merge(
    df_methodCall_all_with_method_def,
    df_import_all,
    how='left',
    left_on=('File_Name_x'),right_on=('file_name')).reset_index()

Global Main dataframe

In [22]:
df_methodCall_all_with_method_def

,level_0,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension,file_name,import_statement,as,import_from
0,0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,1,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,2,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,3,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,4,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196044,196044,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9,D:\Testing\search.py,find_ip,,class9
196045,196045,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196046,196046,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9
196047,196047,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196048,196048,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9

df_methodCall_all_with_method_def = df_methodCall_all_with_method_def[df_methodCall_all_with_method_def['File_Name_without_extension'] == df_methodCall_all_with_method_def['import_from']]

In [23]:
df_methodCall_all_with_method_def

,level_0,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension,file_name,import_statement,as,import_from
0,0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,1,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,2,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,3,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,4,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196044,196044,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9,D:\Testing\search.py,find_ip,,class9
196045,196045,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196046,196046,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9
196047,196047,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196048,196048,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9

In [25]:
df_methodCall_all_with_method_def

,level_0,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension,file_name,import_statement,as,import_from
0,0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,1,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,2,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,3,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,4,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196044,196044,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9,D:\Testing\search.py,find_ip,,class9
196045,196045,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196046,196046,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9
196047,196047,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196048,196048,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9

In [26]:
df_import_all

,file_name,import_statement,as,import_from
0,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...
29837,D:\Testing\settle.py,post_id_sim1,,search
29838,D:\Testing\settle.py,longi,,class9
29839,D:\Testing\timestamp.py,tzinfo,,datetime
29840,D:\Testing\timestamp.py,timedelta,,datetime
29841,D:\Testing\timestamp.py,datetime,,datetime

In [27]:
# len (df_methodCall_all_with_method_def['M_Call_Arg'].str.split(",")[1])] == len (df_methodCall_all_with_method_def['M_D_Arg'].str.split(",")[1])

In [28]:
# df_methodCall_all_with_method_def[len (df_methodCall_all_with_method_def['M_Call_Arg'].str.split(",")[1])] == len (df_methodCall_all_with_method_def['M_D_Arg'].str.split(",")[1])]

In [29]:
df_answers_with_upvote=pd.merge(
    df_methodCall_all,
    df_import_all,
    how='left',
    left_on=('File_Name'),right_on=('file_name')).reset_index()

In [30]:
df_answers_with_upvote

,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,file_name,import_statement,as,import_from
0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,1,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,2,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,3,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,4,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25239,25239,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 24 ; <cl...",DSTSTART_1967_1986,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 24 ; <class 'int'> 4 ; <c...,NaN,D:\Testing\timestamp.py,timedelta,,datetime
25240,25240,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 24 ; <cl...",DSTSTART_1967_1986,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 24 ; <class 'int'> 4 ; <c...,NaN,D:\Testing\timestamp.py,datetime,,datetime
25241,25241,USTimeZone,", Pacific ; <class 'str'>, PST ; <class 'str'>...",Pacific,D:\Testing\timestamp.py,USTimeZone,4,PDT ; <class 'str'> PST ; <class 'str'> Pac...,NaN,D:\Testing\timestamp.py,tzinfo,,datetime
25242,25242,USTimeZone,", Pacific ; <class 'str'>, PST ; <class 'str'>...",Pacific,D:\Testing\timestamp.py,USTimeZone,4,PDT ; <class 'str'> PST ; <class 'str'> Pac...,NaN,D:\Testing\timestamp.py,timedelta,,datetime
25243,25243,USTimeZone,", Pacific ; <class 'str'>, PST ; <class 'str'>...",Pacific,D:\Testing\timestamp.py,USTimeZone,4,PDT ; <class 'str'> PST ; <class 'str'> Pac...,NaN,D:\Testing\timestamp.py,datetime,,datetime

In [31]:
df_methodCall_all

,M_Call_Name,M_Call_Arg,Receiver_var,File_Name,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass
0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN
1,_,Mapping ;<class 'str'>,description,D:\Testing\adamchainz\django-mysql\django_mysq...,_,1,Mapping ;<class 'str'>,NaN
2,"DynamicField,register_lookup",DynColHasKey ; <class 'str'>,,D:\Testing\adamchainz\django-mysql\django_mysq...,register_lookup,1,DynColHasKey ; <class 'str'>,DynamicField
3,_,Enumeration ;<class 'str'>,description,D:\Testing\adamchainz\django-mysql\django_mysq...,_,1,Enumeration ;<class 'str'>,NaN
4,collapse_spaces,"\n CONCAT_WS(\n ',',\n ...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n %s\n )\n ;<class 'str...,NaN
...,...,...,...,...,...,...,...,...
2331,datetime,"1 ; <class 'int'>, 11 ; <class 'int'>, 1 ; <cl...",DSTEND_2007,D:\Testing\timestamp.py,datetime,4,1 ; <class 'int'> 1 ; <class 'int'> 11 ; <c...,NaN
2332,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 1 ; <cla...",DSTSTART_1987_2006,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 1 ; <class 'int'> 4 ; <cl...,NaN
2333,datetime,"1 ; <class 'int'>, 10 ; <class 'int'>, 25 ; <c...",DSTEND_1987_2006,D:\Testing\timestamp.py,datetime,4,1 ; <class 'int'> 25 ; <class 'int'> 10 ; <...,NaN
2334,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 24 ; <cl...",DSTSTART_1967_1986,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 24 ; <class 'int'> 4 ; <c...,NaN
2335,USTimeZone,", Pacific ; <class 'str'>, PST ; <class 'str'>...",Pacific,D:\Testing\timestamp.py,USTimeZone,4,PDT ; <class 'str'> PST ; <class 'str'> Pac...,NaN

In [32]:
df_method_def_all

,M_D_Name,M_D_Arg,File_Name,Class_name,M_D_Arg_len,File_Name_without_extension
0,handle,'self',D:\Testing\adamchainz\django-mysql\django_mysq...,Command,1,mysql_cache_migration
1,render_migration,"'self', 'tables'",D:\Testing\adamchainz\django-mysql\django_mysq...,Command,2,mysql_cache_migration
2,__init__,'self',D:\Testing\adamchainz\django-mysql\django_mysq...,DynamicField,1,dynamic
3,check,'self',D:\Testing\adamchainz\django-mysql\django_mysq...,DynamicField,1,dynamic
4,_check_mariadb_dyncol,'self',D:\Testing\adamchainz\django-mysql\django_mysq...,DynamicField,1,dynamic
...,...,...,...,...,...,...
41707,tzname,"'self', 'dt'",D:\Testing\timestamp.py,USTimeZone,2,timestamp
41708,utcoffset,"'self', 'dt'",D:\Testing\timestamp.py,USTimeZone,2,timestamp
41709,dst,"'self', 'dt'",D:\Testing\timestamp.py,USTimeZone,2,timestamp
41710,now,,D:\Testing\timestamp.py,,1,timestamp
41711,asPacific,'dt',D:\Testing\timestamp.py,,1,timestamp

In [33]:
df_methodCall_all_with_method_def

,level_0,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension,file_name,import_statement,as,import_from
0,0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,1,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,2,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,3,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,4,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196044,196044,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9,D:\Testing\search.py,find_ip,,class9
196045,196045,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196046,196046,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9
196047,196047,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196048,196048,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9

In [34]:
df=df_methodCall_all_with_method_def[['M_Call_Name','M_Call_Arg','File_Name_x','MethodName','M_D_Arg']]

In [35]:
df

,M_Call_Name,M_Call_Arg,File_Name_x,MethodName,M_D_Arg
0,collapse_spaces,\n Outputs a migration that will create...,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,'text'
1,collapse_spaces,\n Outputs a migration that will create...,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,'text'
2,collapse_spaces,\n Outputs a migration that will create...,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,'text'
3,collapse_spaces,\n Outputs a migration that will create...,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,'text'
4,collapse_spaces,\n Outputs a migration that will create...,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,'text'
...,...,...,...,...,...
196044,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",D:\Testing\search.py,gen,"'ix', 'pxc'"
196045,set_process,"node ; <class 'str'>,",D:\Testing\settle.py,set_process,"'self', 'round_number'"
196046,set_process,"node ; <class 'str'>,",D:\Testing\settle.py,set_process,"'self', 'round_number'"
196047,set_process,"node ; <class 'str'>, List_value ; List",D:\Testing\settle.py,set_process,"'self', 'round_number'"
196048,set_process,"node ; <class 'str'>, List_value ; List",D:\Testing\settle.py,set_process,"'self', 'round_number'"

In [36]:
df_methodCall_all_with_method_def

,level_0,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension,file_name,import_statement,as,import_from
0,0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,1,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,2,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,3,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,4,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196044,196044,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9,D:\Testing\search.py,find_ip,,class9
196045,196045,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196046,196046,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9
196047,196047,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196048,196048,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9

In [37]:
def_local

,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension
0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
16,16,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
17,17,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_many_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
18,18,collapse_spaces,\n SELECT 1 FROM {table}\n WHERE...,_has_key_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n SELECT 1 FROM {table}\n WHERE...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
19,19,collapse_spaces,\n UPDATE {table}\n SET value = ...,_delta_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n UPDATE {table}\n SET value = ...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55877,55877,"find_ip,disk,search","150 ; <class 'int'>, List_value ; List",,D:\Testing\search.py,search,2,List_value ; List 150 ; <class 'int'>,find_ip,search,"'port_add', 'post_add'",D:\Testing\class9.py,find_ip,2.0,class9
55880,55880,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\New folder\class9.py,find_ip,2.0,class9
55881,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9
55882,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle
55883,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle

In [38]:
local=def_local[['M_Call_Name','M_Call_Arg','Receiver_var','M_D_Name','M_D_Arg','File_Name_x']]

In [39]:
local

,M_Call_Name,M_Call_Arg,Receiver_var,M_D_Name,M_D_Arg,File_Name_x
0,collapse_spaces,\n Outputs a migration that will create...,help,collapse_spaces,'text',D:\Testing\adamchainz\django-mysql\django_mysq...
16,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_query,collapse_spaces,'text',D:\Testing\adamchainz\django-mysql\django_mysq...
17,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_many_query,collapse_spaces,'text',D:\Testing\adamchainz\django-mysql\django_mysq...
18,collapse_spaces,\n SELECT 1 FROM {table}\n WHERE...,_has_key_query,collapse_spaces,'text',D:\Testing\adamchainz\django-mysql\django_mysq...
19,collapse_spaces,\n UPDATE {table}\n SET value = ...,_delta_query,collapse_spaces,'text',D:\Testing\adamchainz\django-mysql\django_mysq...
...,...,...,...,...,...,...
55877,"find_ip,disk,search","150 ; <class 'int'>, List_value ; List",,search,"'port_add', 'post_add'",D:\Testing\search.py
55880,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,gen,"'ix', 'pxc'",D:\Testing\search.py
55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,gen,"'ix', 'pxc'",D:\Testing\search.py
55882,set_process,"node ; <class 'str'>,",,set_process,"'self', 'round_number'",D:\Testing\settle.py
55883,set_process,"node ; <class 'str'>, List_value ; List",,set_process,"'self', 'round_number'",D:\Testing\settle.py

In [40]:
def_local

,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension
0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
16,16,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
17,17,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,_delete_many_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n DELETE FROM {table}\n WHERE c...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
18,18,collapse_spaces,\n SELECT 1 FROM {table}\n WHERE...,_has_key_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n SELECT 1 FROM {table}\n WHERE...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
19,19,collapse_spaces,\n UPDATE {table}\n SET value = ...,_delta_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n UPDATE {table}\n SET value = ...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55877,55877,"find_ip,disk,search","150 ; <class 'int'>, List_value ; List",,D:\Testing\search.py,search,2,List_value ; List 150 ; <class 'int'>,find_ip,search,"'port_add', 'post_add'",D:\Testing\class9.py,find_ip,2.0,class9
55880,55880,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\New folder\class9.py,find_ip,2.0,class9
55881,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9
55882,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle
55883,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle

In [41]:
Correct=def_local[['M_Call_Name','M_Call_Arg','M_D_Name','M_D_Arg','File_Name_y']]
Buggy=def_local[['M_Call_Name','Swap_arg_listing','M_D_Name','M_D_Arg','File_Name_y']]

In [42]:
Correct['class']=1

C:\Users\sdas1\AppData\Local\Temp/ipykernel_6092/4021518002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Correct['class']=1

In [43]:
Correct

,M_Call_Name,M_Call_Arg,M_D_Name,M_D_Arg,File_Name_y,class
0,collapse_spaces,\n Outputs a migration that will create...,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,1
16,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,1
17,collapse_spaces,\n DELETE FROM {table}\n WHERE c...,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,1
18,collapse_spaces,\n SELECT 1 FROM {table}\n WHERE...,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,1
19,collapse_spaces,\n UPDATE {table}\n SET value = ...,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,1
...,...,...,...,...,...,...
55877,"find_ip,disk,search","150 ; <class 'int'>, List_value ; List",search,"'port_add', 'post_add'",D:\Testing\class9.py,1
55880,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",gen,"'ix', 'pxc'",D:\Testing\New folder\class9.py,1
55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",gen,"'ix', 'pxc'",D:\Testing\class9.py,1
55882,set_process,"node ; <class 'str'>,",set_process,"'self', 'round_number'",D:\Testing\settle.py,1
55883,set_process,"node ; <class 'str'>, List_value ; List",set_process,"'self', 'round_number'",D:\Testing\settle.py,1

In [44]:
Buggy['class']=0

C:\Users\sdas1\AppData\Local\Temp/ipykernel_6092/2825377180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Buggy['class']=0

In [45]:
df_methodCall_all

,M_Call_Name,M_Call_Arg,Receiver_var,File_Name,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass
0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN
1,_,Mapping ;<class 'str'>,description,D:\Testing\adamchainz\django-mysql\django_mysq...,_,1,Mapping ;<class 'str'>,NaN
2,"DynamicField,register_lookup",DynColHasKey ; <class 'str'>,,D:\Testing\adamchainz\django-mysql\django_mysq...,register_lookup,1,DynColHasKey ; <class 'str'>,DynamicField
3,_,Enumeration ;<class 'str'>,description,D:\Testing\adamchainz\django-mysql\django_mysq...,_,1,Enumeration ;<class 'str'>,NaN
4,collapse_spaces,"\n CONCAT_WS(\n ',',\n ...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n %s\n )\n ;<class 'str...,NaN
...,...,...,...,...,...,...,...,...
2331,datetime,"1 ; <class 'int'>, 11 ; <class 'int'>, 1 ; <cl...",DSTEND_2007,D:\Testing\timestamp.py,datetime,4,1 ; <class 'int'> 1 ; <class 'int'> 11 ; <c...,NaN
2332,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 1 ; <cla...",DSTSTART_1987_2006,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 1 ; <class 'int'> 4 ; <cl...,NaN
2333,datetime,"1 ; <class 'int'>, 10 ; <class 'int'>, 25 ; <c...",DSTEND_1987_2006,D:\Testing\timestamp.py,datetime,4,1 ; <class 'int'> 25 ; <class 'int'> 10 ; <...,NaN
2334,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 24 ; <cl...",DSTSTART_1967_1986,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 24 ; <class 'int'> 4 ; <c...,NaN
2335,USTimeZone,", Pacific ; <class 'str'>, PST ; <class 'str'>...",Pacific,D:\Testing\timestamp.py,USTimeZone,4,PDT ; <class 'str'> PST ; <class 'str'> Pac...,NaN

In [46]:
df_methodCall_all_11=df_methodCall_all[df_methodCall_all['M_Call_Arg_len']>1]

In [47]:
df_methodCall_all_11

,M_Call_Name,M_Call_Arg,Receiver_var,File_Name,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass
4,collapse_spaces,"\n CONCAT_WS(\n ',',\n ...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n %s\n )\n ;<class 'str...,NaN
5,collapse_spaces,"\n CONCAT_WS(\n ',',\n ...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n NULL\n )\n ...,NaN
6,collapse_spaces,"\n SUBSTRING(\n @tmp_f:=%s,\...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,10,\n 0\n )\n )\...,NaN
7,collapse_spaces,"\n IF(\n (@tmp_c:=LOCATE(','...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n ''\n )\n ;<class 'str...,NaN
8,collapse_spaces,\n IF(\n FIND_IN_SET(@tmp_va...,sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,9,\n @tmp_val\n )\n ...,NaN
...,...,...,...,...,...,...,...,...
2331,datetime,"1 ; <class 'int'>, 11 ; <class 'int'>, 1 ; <cl...",DSTEND_2007,D:\Testing\timestamp.py,datetime,4,1 ; <class 'int'> 1 ; <class 'int'> 11 ; <c...,NaN
2332,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 1 ; <cla...",DSTSTART_1987_2006,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 1 ; <class 'int'> 4 ; <cl...,NaN
2333,datetime,"1 ; <class 'int'>, 10 ; <class 'int'>, 25 ; <c...",DSTEND_1987_2006,D:\Testing\timestamp.py,datetime,4,1 ; <class 'int'> 25 ; <class 'int'> 10 ; <...,NaN
2334,datetime,"1 ; <class 'int'>, 4 ; <class 'int'>, 24 ; <cl...",DSTSTART_1967_1986,D:\Testing\timestamp.py,datetime,4,2 ; <class 'int'> 24 ; <class 'int'> 4 ; <c...,NaN
2335,USTimeZone,", Pacific ; <class 'str'>, PST ; <class 'str'>...",Pacific,D:\Testing\timestamp.py,USTimeZone,4,PDT ; <class 'str'> PST ; <class 'str'> Pac...,NaN

In [ ]:
Buggy

In [ ]:
Buggy=Buggy.rename(columns={"Swap_arg_listing": "M_Call_Arg"})

In [ ]:
Buggy

In [ ]:
Correct

In [ ]:
frames = [Buggy, Correct]

In [ ]:
result = pd.concat(frames)

In [ ]:
result

In [ ]:
result['listed']=result['M_Call_Name']+','+result['M_Call_Arg']+','+result['M_D_Name']+','+result['M_D_Arg']

In [ ]:
results=result[['listed','class']]

In [ ]:
results

In [ ]:
x=[d.split(',') for d in results['listed'].tolist()]

In [ ]:
x

In [ ]:
import gensim

In [ ]:
model = gensim.models.Word2Vec(
    window=5,
    min_count=1,
    workers=4,
)

In [ ]:
model.build_vocab(x, progress_per=1000)

In [ ]:
model.train(x, total_examples=model.corpus_count, epochs=model.epochs)

In [ ]:
xp=["set_process","find_ip"," 'round_number'"]

In [ ]:
def get_vec(xp):
    for x in xp:
        normed_vector = model.wv.get_vector(x, norm=True)
        print("Process name:"+x)
        print(normed_vector)

In [ ]:
get_vec(xp)

In [ ]:
model.wv.index_to_key[0]

In [ ]:
model.wv.key_to_index

In [ ]:
model.wv.vectors[0].shape

In [ ]:
xpo=model.wv.vectors[0]
xpow=model.wv.vectors

In [ ]:
xpow.shape

In [ ]:
pc=model.wv.vectors[1]

In [ ]:
pc.shape

In [ ]:
pc

In [ ]:
rx=model.wv.vectors

In [ ]:
rx.shape

In [ ]:
rx.ndim

In [ ]:
import numpy
import keras.models
import tensorflow
from keras.models import Sequential
from keras.layers import Activation, Dense
mode = Sequential()
mode.add(Dense(1, activation='relu'))
mode.compile(optimizer='adam',loss='binary_crossentropy',metrics=['acc'])

In [ ]:
from keras.layers.recurrent import LSTM

mode.add(LSTM(units=128))

In [ ]:
y=results['class']

In [ ]:
y=results['class']

In [ ]:
y.shape

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(xpo,y)

In [ ]:
xpow.reshape(xpow.shape[100:])

In [ ]:
xpow=xpow.reshape(-1,280)

In [ ]:
xpow.shape

In [ ]:
y.shape

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(xpow,y)

In [ ]:
X_train.shape

In [ ]:
mode.fit(X_train,y_train,validation_split=0.3,epochs=6)

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression().fit(X_train, y_train)

In [ ]:
reg.predict(X_test)

In [ ]:
reg.get_params(deep=True)

In [ ]:
reg.score(X_test, y_test, sample_weight=None)

In [ ]:
import sklearn as sk
from sklearn.linear_model import LogisticRegression
import pandas as pd
import os




LR = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X_train, y_train)

round(LR.score(X_test, y_test), 4)

In [ ]:
LR.predict(X_test)

In [ ]:
X_test

In [ ]:
import sklearn as sk
from sklearn.neural_network import MLPClassifier

NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
NN.fit(X_train, y_train)
round(NN.score(X_test,y_test), 4)

In [ ]:
NN.predict(X_test)

In [ ]:
import pandas as pd
import sklearn as sk
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier


LR = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X_train, y_train)
LR.predict(X_test)
round(LR.score(X_test,y_test), 4)

In [ ]:
LR.predict(X_test)

In [ ]:
SVM = svm.SVC(decision_function_shape="ovo").fit(X_train, y_train)
SVM.predict(X_test)
round(SVM.score(X_test, y_test), 4)

In [ ]:
SVM.predict(X_test)

In [ ]:
RF = RandomForestClassifier(n_estimators=1000, max_depth=10, random_state=0).fit(X_train, y_train)
RF.predict(X_test)
round(RF.score(X_test, y_test), 4)

In [ ]:
NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(150, 10), random_state=1).fit(X_train, y_train)
NN.predict(X_test)
round(NN.score(X_test, y_test), 4)

In [ ]:
NN.predict(X_test)

In [54]:
df_methodCall_all_with_method_def

,level_0,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name_x,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass,M_D_Name,M_D_Arg,File_Name_y,Class_name,M_D_Arg_len,File_Name_without_extension,file_name,import_statement,as,import_from
0,0,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,unicode_literals,,__future__
1,1,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,django,,
2,2,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,settings,,django.conf
3,3,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,InvalidCacheBackendError,,django.core.cache
4,4,0,collapse_spaces,\n Outputs a migration that will create...,help,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,1,\n Outputs a migration that will create...,NaN,collapse_spaces,'text',D:\Testing\New folder\andresgsaravia\research-...,,1.0,whitespace,D:\Testing\adamchainz\django-mysql\django_mysq...,caches,,django.core.cache
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196044,196044,55881,"find_ip , gen","iTx ; <class 'str'>, pxTc ; <class 'str'>",,D:\Testing\search.py,gen,2,pxTc ; <class 'str'> iTx ; <class 'str'>,find_ip,gen,"'ix', 'pxc'",D:\Testing\class9.py,find_ip,2.0,class9,D:\Testing\search.py,find_ip,,class9
196045,196045,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196046,196046,55882,set_process,"node ; <class 'str'>,",,D:\Testing\settle.py,set_process,2,node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9
196047,196047,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,post_id_sim1,,search
196048,196048,55883,set_process,"node ; <class 'str'>, List_value ; List",,D:\Testing\settle.py,set_process,2,List_value ; List node ; <class 'str'>,NaN,set_process,"'self', 'round_number'",D:\Testing\settle.py,,2.0,settle,D:\Testing\settle.py,longi,,class9

In [55]:
work=df_methodCall_all_11.head(10)

In [56]:
work.reset_index()

,index,M_Call_Name,M_Call_Arg,Receiver_var,File_Name,MethodName,M_Call_Arg_len,Swap_arg_listing,MethodClass
0,4,collapse_spaces,"\n CONCAT_WS(\n ',',\n ...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n %s\n )\n ;<class 'str...,NaN
1,5,collapse_spaces,"\n CONCAT_WS(\n ',',\n ...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n NULL\n )\n ...,NaN
2,6,collapse_spaces,"\n SUBSTRING(\n @tmp_f:=%s,\...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,10,\n 0\n )\n )\...,NaN
3,7,collapse_spaces,"\n IF(\n (@tmp_c:=LOCATE(','...",sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n ''\n )\n ;<class 'str...,NaN
4,8,collapse_spaces,\n IF(\n FIND_IN_SET(@tmp_va...,sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,9,\n @tmp_val\n )\n ...,NaN
5,9,collapse_spaces,\n IF(\n @tmp_pos:=FIND_IN_S...,sql_expression,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,20,\n @tmp_f\n )\n ;<class ...,NaN
6,10,dedent,CREATE TABLE `{table_name}` (\n ...,create_table_sql,D:\Testing\adamchainz\django-mysql\django_mysq...,dedent,4,\n expires BIGINT UNSIGNED NOT NULL...,NaN
7,11,collapse_spaces,"\n SELECT value, value_type\n FR...",_get_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,2,value_type\n FROM {table}\n WHE...,NaN
8,12,collapse_spaces,"\n SELECT cache_key, value, value_type\...",_get_many_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,3,value_type\n FROM {table}\n WHE...,NaN
9,13,collapse_spaces,"\n INSERT INTO {table} (cache_key, valu...",_set_many_query,D:\Testing\adamchainz\django-mysql\django_mysq...,collapse_spaces,6,\n expires=VALUES(expires)\n ;<...,NaN

In [57]:
type(work.iloc[2,1])

str

In [58]:
work.iloc[2,1]

"\n        SUBSTRING(\n            @tmp_f:=%s,\n            1,\n            IF(\n                LOCATE(',', @tmp_f),\n                (\n                    CHAR_LENGTH(@tmp_f) -\n                    CHAR_LENGTH(SUBSTRING_INDEX(@tmp_f, ',', -1)) -\n                    1\n                ),\n                0\n            )\n        )\n     ;<class 'str'>"

In [ ]:
work.iloc[2,3]

In [59]:
work.to_csv('Work_extract.csv')

In [50]:
work1=work1.reset_index()

In [52]:
work1.to_csv('Work_extract1.csv')

In [60]:
work1=def_local

In [61]:
work1.to_csv('Work_extract1.csv')